<configuration>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="index.aspx" />
                <add value="index.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="home.aspx" />
                <add value="home.asp" />
                <add value="home.htm" />
                <add value="home.html" />
                <add value="default.aspx" />
                <add value="default.asp" />
                <add value="default.htm" />
                <add value="default.html" />
            </files>
        </defaultDocument>
        <security>
            <authentication>
                <basicAuthentication enabled="true" />
            </authentication>
        </security>
        <httpErrors errorMode="Custom">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="error404.html" responseMode="ExecuteURL" />
        </httpErrors>
    <rewrite><rules><rule name="wedding/directions Redirect" stopProcessing="true"><match url="^(wedding/directions)(/.*|)$" /><action type="Redirect" url="https://maps.google.com/maps?daddr=Marriage+Venue+Entrance%4019.221196797042904,72.86054491996765" redirectType="Temporary" /></rule></rules></rewrite></system.webServer>
</configuration>